[submodule "vendor/hermes"]
	path = vendor/hermes
	url = https://github.com/facebook/hermes.git
[submodule "vendor/ghostty"]
	path = vendor/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "vendor/neovim"]
	path = vendor/neovim
	url = https://github.com/neovim/neovim.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/go-enry"]
	path = vendor/go-enry
	url = https://github.com/go-enry/go-enry.git
